<div>
  <div>
    <h1>
      Bingo board #<%= @the_bingo_board.id %> details
    </h1>

    <div>
      <div>
        <a href="/bingo_boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bingo_board/<%= @the_bingo_board.id %>">
          Delete bingo board
        </a>
      </div>
    </div>

<div class="container px-1">
<table class="table table-bordered">
  <tr>
    <th width="20%">B</th>
		<th width="20%">I</th>
		<th width="20%">N</th>
		<th width="20%">G</th>
		<th width="20%">O</th>
  </tr>
  <tr>
  <%# @bingo_board.tile.each do |tile|%>
  <% if @the_bingo_board.tiles.where({:position=>0}).at(0).solved == true %>
    <td id = "square0" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>0}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>0}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square0">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>0}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>0}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  <% if @the_bingo_board.tiles.where({:position=>1}).at(0).solved == true %>
    <td id = "square1" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>1}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>1}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square1">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>1}).at(0).id%>" method = "post">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>1}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
    
  <% if @the_bingo_board.tiles.where({:position=>2}).at(0).solved == true %>
    <td id = "square2" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>2}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>2}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square2">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>2}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>2}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  
    <% if @the_bingo_board.tiles.where({:position=>3}).at(0).solved == true %>
    <td id = "square3" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>3}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>3}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square3">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>3}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>3}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
    
    <% if @the_bingo_board.tiles.where({:position=>4}).at(0).solved == true %>
    <td id = "square4" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>4}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>4}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square4">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>4}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>4}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  </tr>
  <tr>
    <% if @the_bingo_board.tiles.where({:position=>5}).at(0).solved == true %>
    <td id = "square5" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>5}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>5}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square5">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>5}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>5}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
    
  <% if @the_bingo_board.tiles.where({:position=>6}).at(0).solved == true %>
    <td id = "square6" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>6}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>6}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square6">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>6}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>6}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

  <% if @the_bingo_board.tiles.where({:position=>7}).at(0).solved == true %>
    <td id = "square7" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>7}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>7}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square7">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>7}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>7}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

  <% if @the_bingo_board.tiles.where({:position=>8}).at(0).solved == true %>
    <td id = "square8" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>8}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>8}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square8">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>8}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>8}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

    <% if @the_bingo_board.tiles.where({:position=>9}).at(0).solved == true %>
    <td id = "square9" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>9}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>9}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square9">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>9}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>9}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  </tr>
  <tr>
  <% if @the_bingo_board.tiles.where({:position=>10}).at(0).solved == true %>
    <td id = "square10" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>10}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>10}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square10">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>10}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>10}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

  <% if @the_bingo_board.tiles.where({:position=>11}).at(0).solved == true %>
    <td id = "square11" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>11}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>11}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square11">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>11}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>11}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  
    <td id = "free" class ="table-success">Free</td>

  <% if @the_bingo_board.tiles.where({:position=>12}).at(0).solved == true %>
    <td id = "square12" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>12}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>12}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square12">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>12}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>12}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  
  <% if @the_bingo_board.tiles.where({:position=>13}).at(0).solved == true %>
    <td id = "square13" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>13}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>13}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square13">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>13}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>13}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  </tr>
  <tr>
  <% if @the_bingo_board.tiles.where({:position=>14}).at(0).solved == true %>
    <td id = "square14" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>14}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>14}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square14">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>14}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>14}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

<% if @the_bingo_board.tiles.where({:position=>15}).at(0).solved == true %>
    <td id = "square15" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>15}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>15}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square15">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>15}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>15}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  
  <% if @the_bingo_board.tiles.where({:position=>16}).at(0).solved == true %>
    <td id = "square16" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>16}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>16}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square16">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>16}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>16}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

<% if @the_bingo_board.tiles.where({:position=>17}).at(0).solved == true %>
    <td id = "square17" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>17}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>17}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square17">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>17}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>17}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

<% if @the_bingo_board.tiles.where({:position=>18}).at(0).solved == true %>
    <td id = "square18" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>18}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>18}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square18">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>18}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>18}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  </tr>
  <tr>
  <% if @the_bingo_board.tiles.where({:position=>19}).at(0).solved == true %>
    <td id = "square19" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>19}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>19}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square19">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>19}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>19}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

<% if @the_bingo_board.tiles.where({:position=>20}).at(0).solved == true %>
    <td id = "square20" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>20}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>20}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square20">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>20}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>20}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

  <% if @the_bingo_board.tiles.where({:position=>21}).at(0).solved == true %>
    <td id = "square21" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>21}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>21}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square21">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>21}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>21}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

  <% if @the_bingo_board.tiles.where({:position=>22}).at(0).solved == true %>
    <td id = "square22" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>22}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>22}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square22">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>22}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>22}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>

  <% if @the_bingo_board.tiles.where({:position=>23}).at(0).solved == true %>
    <td id = "square23" class="table-success"> 
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>23}).at(0).id%>" method = "post" class = "btn btn-outline-success">
        <button class = "btn btn-success">
          <%= @the_bingo_board.tiles.where({:position=>23}).at(0).animal.name%>
        </button>
      </form>
  <% else %>
    <td id = "square23">
      <form action="/modify_bingo_tile/<%= @the_bingo_board.tiles.where({:position=>23}).at(0).id%>" method = "post"">
        <button>
          <%= @the_bingo_board.tiles.where({:position=>23}).at(0).animal.name%>
        </button>
      </form>
    </td>
  <% end %>
  </tr>
</table>


</div>

<!--    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%#= @the_bingo_board.user_id %>-->
<!--      </dd>

      <dt>
        Park
      </dt>
      <dd>
        <%#= @the_bingo_board.park_id %>-->
<!--      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%#= time_ago_in_words(@the_bingo_board.created_at) %> ago-->
<!--      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%#= time_ago_in_words(@the_bingo_board.updated_at) %> ago-->
<!--      </dd>
    </dl>
  </div>
</div>

<hr>-->


<!--<div>
  <div>
    <h2>
      Edit bingo board
    </h2>

    <form action="/modify_bingo_board/<%#= @the_bingo_board.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%#= @the_bingo_board.user_id %>">
      </div>

      <div>
        <label for="park_id_box">
          Park
        </label>

        <input type="text" id="park_id_box" name="query_park_id" value="<%#= @the_bingo_board.park_id %>">
      </div>

      <button>
        Update bingo board
      </button>
    </form>
  </div>
</div>
-->
<!--<hr>-->
