<div>
  <div>
    <h1>
      Bingo board #<%= @the_bingo_board.id %> details
    </h1>

    <div>
      <div>
        <a href="/bingo_boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bingo_board/<%= @the_bingo_board.id %>">
          Delete bingo board
        </a>
      </div>
    </div>

<div>
<table border = "1">
  <tr>
    <th width="20%">B</th>
		<th width="20%">I</th>
		<th width="20%">N</th>
		<th width="20%">G</th>
		<th width="20%">O</th>
  </tr>
  <tr>
  <%# @bingo_board.tile.each do |tile|%>
    <td id = "square0">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square1">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square2">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square3">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square4">@the_bingo_board.tiles.where({:position => "0"})</td>
  </tr>
  <tr>
    <td id = "square5">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square6">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square7">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square8">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square9">@the_bingo_board.tiles.where({:position => "0"})</td>
  </tr>
  <tr>
    <td id = "square10">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square11">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "free">Free</td>
    <td id = "square12">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square13">@the_bingo_board.tiles.where({:position => "0"})</td>
  </tr>
  <tr>
    <td id = "square14">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square15">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square16">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square17">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square18">@the_bingo_board.tiles.where({:position => "0"})</td>
  </tr>
  <tr>
    <td id = "square19">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square20">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square21">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square22">@the_bingo_board.tiles.where({:position => "0"})</td>
    <td id = "square23">@the_bingo_board.tiles.where({:position => "0"})</td>
  </tr>
</table>
</div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_bingo_board.user_id %>
      </dd>

      <dt>
        Park
      </dt>
      <dd>
        <%= @the_bingo_board.park_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bingo_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bingo_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bingo board
    </h2>

    <form action="/modify_bingo_board/<%= @the_bingo_board.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_bingo_board.user_id %>">
      </div>

      <div>
        <label for="park_id_box">
          Park
        </label>

        <input type="text" id="park_id_box" name="query_park_id" value="<%= @the_bingo_board.park_id %>">
      </div>

      <button>
        Update bingo board
      </button>
    </form>
  </div>
</div>

<hr>
